<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.plan.mapper.AdPlacePriceMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 <!--userid,cityname,username,email,realname-->
	</sql>

    <select id="GetAdPlaceByWeb" resultType="com.fang.plan.entity.AdPlace">
     select * from adplace where  ChannelId=${channelid}
    </select>
    
    
      <select id="GetAdPlacePriceByPage" resultType="com.fang.plan.entity.AdPlacePrice">
       select a.Id,a.CompanyGroup,w.WebsiteName as websiteid,c.Channelgroupname as channelid,a.PlatForm,p.Name as adplaceid,a.Originality,a.PriceYear,a.Price,a.state,a.addtime from AdPlacePrice a
       inner join Channelgroup c
       on a.ChannelId=c.Id
       inner join Website w
       on a.websiteid=w.id
       inner join AdPlace p
       on a.AdplaceId=p.ID  ${where}
    </select>
    
    <select id="selectPlacePriceList" resultType="com.fang.plan.entity.Plan_Detail_tb">
		with cte as (
		select * from
		(
			SELECT 
			 	CASE
				 WHEN mState=6 THEN 7
				 WHEN patindex('%6,%',State)>0 THEN 6
				 WHEN patindex('%2,%',State)>0 OR patindex('%3,%',State)>0 OR patindex('%4,%',State)>0 OR mState>=2 THEN CASE WHEN mState=20 THEN 20 ELSE 2 END 
				 WHEN patindex('%1,%',State)>0 THEN CASE WHEN mState=1 THEN 1 else 5 end 
				 WHEN patindex('%0,%',State)>0 OR State IS NULL THEN mState
				END State,
			  ReserveHour,[Allowance],KJ_ADP_ID,years,months,d FROM (
				${sql} 		  
			)  re

		) result  PIVOT ( sum ([State]) FOR [d] IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14],
		 [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31] ) ) AS pvt
		)
		select id as adpId,AdplaceId,Channel ,Adplace,Price,years,months,ReserveHour,[Allowance],[1] as d1,[2] as d2,[3] as d3,[4] as d4,[5] as d5
		,[6] as d6,[7] as d7,[8] as d8,[9] as d9,[10] as d10,[11] as d11,[12] as d12,[13] as d13,[14] as d14,[15] as d15
		,[16] as d16,[17] as d17,[18] as d18,[19] as d19,[20] as d20,[21] as d21,[22] as d22,[23] as d23,[24] as d24,[25] as d25
		,[26] as d26,[27] as d27,[28] as d28,[29] as d29,[30] as d30,[31] as d31 from(
			select * from (
			SELECT id,AdplaceId,(select [Channelgroupname] from [dbo].[Channelgroup] where id=ChannelId ) as Channel,
			(select [Name] from [dbo].[AdPlace] where id=AdplaceId) Adplace,
			Price
			FROM [AdPlacePrice]
			where ChannelId=1 
			<if test="entity.adplaceid!=''">
			and AdplaceId =${entity.adplaceid}
			</if>			
			 and [CompanyGroup]='XF' and [Originality]='视频' 
			and [WebsiteId]=1 and PriceYear=2017
			)c
		left join cte p on p.KJ_ADP_ID=c.AdplaceId
		)re
	</select>
	
	  <select id="selectPlacePriceListById" resultType="com.fang.plan.entity.Plan_Detail_tb">
		with cte as (
		select * from
		(
         ${sql}
		) result  PIVOT ( sum ([State]) FOR [d] IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14],
		 [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31] ) ) AS pvt
		)
		select Channel ,Adplace,years,months,ReserveHour,[Allowance],[1] as d1,[2] as d2,[3] as d3,[4] as d4,[5] as d5
		,[6] as d6,[7] as d7,[8] as d8,[9] as d9,[10] as d10,[11] as d11,[12] as d12,[13] as d13,[14] as d14,[15] as d15
		,[16] as d16,[17] as d17,[18] as d18,[19] as d19,[20] as d20,[21] as d21,[22] as d22,[23] as d23,[24] as d24,[25] as d25
		,[26] as d26,[27] as d27,[28] as d28,[29] as d29,[30] as d30,[31] as d31 from(
			select * from (
			SELECT distinct AdplaceId,(select [Channelgroupname] from [dbo].[Channelgroup] where id=ChannelId ) as Channel,
			(select [Name] from [dbo].[AdPlace] where id=AdplaceId) Adplace
			FROM [dbo].[AdPlacePrice]
			where AdplaceId IN (
			${sqlwhere}
			)
			)c
		left join cte p on p.KJ_ADP_ID=c.AdplaceId
		)re
    </select>
</mapper>