<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.plan.mapper.RoleMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 <!--userid,cityname,username,email,realname-->
	</sql>
	<select  id="getByRoleName" resultType="com.fang.plan.entity.Role" parameterType="String">
		 SELECT * FROM Role where RoleName=#{roleName}
    </select>
    <select  id="getAllRoleName" resultType="com.fang.plan.entity.Role">
		 SELECT * FROM Role 
    </select>
</mapper>