<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.myproj.mapper.CyFunctionMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 Id,FunctionId,PFunctionId,Code,FunctionName,OrderNum,ReleaseTime,Deleted,FunctionLevel,MoudleName
	</sql>
  
    <select  id="getCyFunctionList" resultType="com.abc.myproj.entity.CyFunction">
      select FunctionId as id,PFunctionId as pId, FunctionName as name,case when r.checked is null then 'false' else r.checked end  as checked
	  from [dbo].[CYFunction] c
	  left join (
	  select FunctionId as id,PFunctionId as pId, FunctionName as name,'true' as checked
	  from [dbo].[CYFunction] where FunctionID in(
	  select FunctionID from [dbo].[RoleFunctionRelation] where RoleID =${roleId}
	))r on r.id=c.FunctionId
   </select>
</mapper>